div {
    h2 {
        color: white;
    }

    mat-dialog-content,
    mat-dialog-actions {
        color: white;
    }

    input {
        color: white !important;
    }

    mat-progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    };
}


.d-flex {
    display: flex;
}

@media (min-width: 320px) and (max-width: 640px) {
    .flex-responsive {
        flex-direction: column;
    }

    .mat-mdc-dialog-content>:last-child {
        width: 100%;
    }
}