<div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h2 mat-dialog-title>Add user</h2>

    <div class="d-flex flex-responsive">
        <mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="1st name">
            </mat-form-field>
        </mat-dialog-content>
    
        <mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="2nd name">
            </mat-form-field>
        </mat-dialog-content>
    </div>

    <div>
        <mat-dialog-content>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>E-mail</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="email adress">
            </mat-form-field>
        </mat-dialog-content>
    </div>
   
    <div class="d-flex">
        <mat-dialog-content>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Birthdate</mat-label>
                <input [disabled]="loading" [(ngModel)]="birthDate" matInput placeholder="birthdate" [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint>MM/DD/YYYY</mat-hint>
            </mat-form-field>
        </mat-dialog-content>
    </div>

    <div>
        <mat-dialog-content>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Address + Nr.</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Placeholder">
            </mat-form-field>
        </mat-dialog-content>
    </div>

    <div class="d-flex flex-responsive">
        <mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>Zip Code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Placeholder">
            </mat-form-field>
        </mat-dialog-content>

        <mat-dialog-content>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="Placeholder">
            </mat-form-field>
        </mat-dialog-content>
    </div>

    <mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="this.dialog.close();">Cancel</button>
        <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</div>