div {
    h2 {
        color: white;
    }

    mat-dialog-content,
    mat-dialog-actions {
        color: white;
    }

    input {
        color: white !important;
    }

    mat-progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    };
}

.warnMessage {
    color: darkred;
    position: sticky;
    box-sizing: border-box;
    bottom: 10px;
    height: 5px;
}

.d-flex {
    display: flex;
}

mat-dialog-actions {
    display: flex;
    gap: 12px;
}

button {
    width: 70px;
    height: 35px;
    border-radius:6px;
    border: 0.5px solid white;
    background-color: rgba(0, 0, 0, 0.799);
    color: white;
    cursor: pointer;

    &:hover {
        background-color: grey;
    }
}

@media (min-width: 320px) and (max-width: 640px) {
    .flex-responsive {
        flex-direction: column;
    }

    .mat-mdc-dialog-content>:last-child {
        width: 100%;
    }
}