div {
    h2 {
        color: white;
    }

    mat-dialog-content,
    mat-dialog-actions {
        color: white;
    }

    input {
        color: white !important;
    }

    mat-progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    };
}

button {
    width: 70px;
    height: 35px;
    border-radius:6px;
    border: 0.5px solid white;
    background-color: rgba(0, 0, 0, 0.799);
    color: white;
    cursor: pointer;

    &:hover {
        background-color: grey;
    }
}

