div {
    h2 {
        color: white;
    }

    mat-dialog-content,
    mat-dialog-actions {
        color: white;
    }

    input {
        color: white !important;
    }

    mat-progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    };
}


.d-flex {
    display: flex;
    flex-direction: column;
}

.example-full-width {
    width: 100%;
}

.optionArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:320px) and (max-width: 535px) {
    .optionArea {
        flex-direction: column;
    }

    .mat-mdc-form-field {
        width: 100%;
    }
}