<div>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h2 mat-dialog-title>Work to do</h2>

    <div class="d-flex">

        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput [disabled]="loading" [(ngModel)]="work.description"></textarea>
        </mat-form-field>

        <div class="optionArea">
            <mat-form-field>
                <mat-label>Martial Art</mat-label>
                <mat-select [(ngModel)]="work.martialArt" [disabled]="loading">
                    <mat-option value="Wrestling">Wrestling</mat-option>
                    <mat-option value="MMA-Striking">MMA Striking</mat-option>
                    <mat-option value="Kick/Thai-Box">Kick/Thai Box</mat-option>
                    <mat-option value="Sparring">Sparring</mat-option>
                    <mat-option value="MMA-Grappling">MMA Grappling</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Coach</mat-label>
                <mat-select [(ngModel)]="work.coach" [disabled]="loading">
                    <mat-option value="Ruslan">Ruslan</mat-option>
                    <mat-option value="Mario">Mario</mat-option>
                    <mat-option value="Jean">Jean</mat-option>
                    <mat-option value="Johann">Johann</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-dialog-actions>
            <button [disabled]="loading" mat-button (click)="this.dialog.close();">Cancel</button>
            <button [disabled]="loading" mat-button (click)="saveWork()" cdkFocusInitial>Save</button>
        </mat-dialog-actions>
    </div>
</div>