<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [opened]="drawerOpened"  mode="side">
    <div class="logo-container">
      <img style="width: 250px;" src="/img/crm-logo.png" alt="">
    </div>

    <ul>
      <li routerLink="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li routerLink="user"><mat-icon>perm_identity</mat-icon>Customer</li>
      <li routerLink="trainer"><mat-icon>sports_gymnastics</mat-icon>Trainer Work</li>
      <li routerLink="schedule"><mat-icon>calendar_month</mat-icon>Schedule</li>
      <li routerLink="imprint"><mat-icon>description</mat-icon>Imprint</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar>
      <mat-toolbar-row class="matToolbar">
        <mat-icon class="burgerMenu" (click)="drawer.toggle()">menu</mat-icon>
        <span>Simple-CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
    

  </div>
</mat-drawer-container>