<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Monday</mat-card-title>
            <mat-card-subtitle>Wrestling</mat-card-subtitle>
            <mat-card-subtitle>Start: 18:30 - 20:00</mat-card-subtitle>
            <img mat-card-md-image src="img/wrestling.png">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{wrestlingText}}
    </mat-card-content>
</mat-card>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Tuesday</mat-card-title>
            <mat-card-subtitle>MMA Striking</mat-card-subtitle>
            <mat-card-subtitle>Start: 19:00 - 20:30</mat-card-subtitle>
            <img mat-card-md-image src="img/striking.png">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{strikingText}}
    </mat-card-content>
</mat-card>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Wednesday</mat-card-title>
            <mat-card-subtitle>Kick/Thai-boxing</mat-card-subtitle>
            <mat-card-subtitle>Start: 18:30 - 20:00</mat-card-subtitle>
            <img mat-card-md-image src="img/muay-thai.png">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{thaiboxText}}
    </mat-card-content>
</mat-card>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Thursday</mat-card-title>
            <mat-card-subtitle>Sparring</mat-card-subtitle>
            <mat-card-subtitle>Start: 19:00 - 20:30</mat-card-subtitle>
            <img mat-card-md-image src="img/sparring.png">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{sparringText}}
    </mat-card-content>
</mat-card>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>Friday</mat-card-title>
            <mat-card-subtitle>MMA Grappling</mat-card-subtitle>
            <mat-card-subtitle>Start: 18:30 - 20:00</mat-card-subtitle>
            <img mat-card-md-image src="img/mma-wrestling.png">
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        {{grapplingText}}
    </mat-card-content>
</mat-card>