<mat-card appearance="outlined">
    <mat-card-content>
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>City</th>
            </tr>


            <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.id]">
                <td>{{ user.firstName }}  {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.city }}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>


<button (click)="openDialog()" mat-fab class="btn-position" matTooltip="Add user" matTooltipPosition="above">
    <mat-icon class="add-btn">add</mat-icon>
</button>