.add-btn{
    padding: 20px;
    background-color: rgba(245, 222, 179, 0.3);
    border-radius: 30px;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;


    &:hover {
        background-color: rgba(245, 222, 179, 0.5);
    }
}


.btn-position {
    border-radius: 30px;
    width: 50px;
    height: 50px;
}


.mat-mdc-card-content {
    background-color: black;
    border-radius: 10px;
}

.mat-mdc-card-outlined {
    border: 2px solid #00d400;;
}

.addButtonDiv {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 30px;
    padding: 2px;
    box-sizing: border-box;
}

mat-card-content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.mat-mdc-card-content:last-child {
    padding-bottom: 0;
}
.mat-mdc-card-content:first-child {
    padding-top: 0;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 2px solid rgba(255, 0, 0, 0.5);
        &:first-child {
            cursor: unset;
        }

        &:last-child {
            border-bottom: none;
        }
        cursor: pointer;

        td {
            height: 60px;

            &:first-child {
                padding-left: 16px;
            }
        }

        &:hover:not(:first-child) {
            background-color: rgba(0, 51, 34, 0.8);;
        }
    }
    th {
        color: grey;
        text-align: start;

        &:first-child {
            padding-left: 16px;
        }
    }
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        &:last-child {
            border-bottom: none;
        }

        td {
            height: 30px;

            &:first-child {
                padding-left: 16px;
            }
        }
    }
    th {
        color: #ff6464;
        text-align: start;

        &:first-child {
            padding-left: 16px;
        }
    }
}

.d-none {
    display: none !important;
}


.responsiveTable {
    .infoDiv {
        margin: 20px;
        background-color: rgba(60, 56, 56, 0.613);
        border-radius: 12px;
        &:hover {
            background-color: rgba(0, 51, 34, 0.5);;
            cursor: pointer;
        }
        

        .userInformation{
            display: flex;
            padding: 6px;
            box-sizing: border-box;
        }
    }
}

.noUser {
    width: 80px;
}

// RESPONSIVE

    
@media (min-width: 320px) and  (max-width: 700px) {
    .hide-on-small {
        display: none !important;
    }

    .show-on-small {
        display: block !important;
    }
}

@media (min-width: 320px) {
    .userFont {
        font-size: 12px;
    }

    .responsive-table th:first-child {
        padding-left: 4px;
    }
    .noUser {
        width: 40px;
    }
}

@media (min-width: 350px) {
    .userFont {
        font-size: 14px;
    }
    .noUser {
        width: 60px;
    }
}