<div class="kanbanContainer">
    <div class="kanbanRow">
        <h2>Ruslan</h2>
        <div class="kanbanList" cdkDropList id="Ruslan" [cdkDropListConnectedTo]="connectedTo" [cdkDropListData]="ruslanTasks" (cdkDropListDropped)="drop($event)">
            <div class="kanbanItem bg-todo" *ngFor="let task of ruslanTasks" cdkDrag>
                <div>
                    <h3>{{ task.martialArt }}</h3>
                    <h4>{{ task.coach }}</h4>
                </div>
                {{ task.description }}
            </div>
        </div>
    </div>
    
    <div class="kanbanRow">
        <h2>Mario</h2>
        <div class="kanbanList" cdkDropList id="Mario" [cdkDropListConnectedTo]="connectedTo" [cdkDropListData]="marioTasks" (cdkDropListDropped)="drop($event)">
            <div class="kanbanItem bg-waiting" *ngFor="let task of marioTasks" cdkDrag>
                <div>
                    <h3>{{ task.martialArt }}</h3>
                    <h4>{{ task.coach }}</h4>
                </div>
                {{ task.description }}
            </div>
        </div>
    </div>
    
    <div class="kanbanRow">
        <h2>Jean</h2>
        <div class="kanbanList" cdkDropList id="Jean" [cdkDropListConnectedTo]="connectedTo" [cdkDropListData]="jeanTasks" (cdkDropListDropped)="drop($event)">
            <div class="kanbanItem bg-treat" *ngFor="let task of jeanTasks" cdkDrag>
                <div>
                    <h3>{{ task.martialArt }}</h3>
                    <h4>{{ task.coach }}</h4>
                </div>
                {{ task.description }}
            </div>
        </div>
    </div>
    
    <div class="kanbanRow">
        <h2>Johann</h2>
        <div class="kanbanList" cdkDropList id="Johann" [cdkDropListConnectedTo]="connectedTo" [cdkDropListData]="johannTasks" (cdkDropListDropped)="drop($event)">
            <div class="kanbanItem bg-done" *ngFor="let task of johannTasks" cdkDrag>
                <div>
                    <h3>{{ task.martialArt }}</h3>
                    <h4>{{ task.coach }}</h4>
                </div>
                {{ task.description }}
            </div>
        </div>
    </div>

    <div class="kanbanRow delete">
        <h2>Delete</h2>
        <div class="kanbanList delete-bin" cdkDropList id="delete-bin" (cdkDropListDropped)="deleteTask($event)">
            <p>Element hierhin ziehen, um es zu löschen</p>
        </div>
    </div>

    <button (click)="openDialog()" mat-fab class="btn-position" matTooltip="Add Task" matTooltipPosition="above">
        <mat-icon class="add-btn">add</mat-icon>
    </button>
</div>




