<div class="kanbanContainer">
    <div class="kanbanRow">
        <h2>To do</h2>
        <div class="kanbanList" cdkDropList id="todo" [cdkDropListConnectedTo]="connectedTo" [cdkDropListData]="todoTasks" (cdkDropListDropped)="drop($event)">
            <div class="kanbanItem bg-todo" *ngFor="let task of todoTasks" cdkDrag>
                <div>
                    <h3>{{ task.martialArt }}</h3>
                    <h4>{{ task.coach }}</h4>
                </div>
                {{ task.description }}
            </div>
        </div>
    </div>

    <div class="kanbanRow">
        <h2>Waiting</h2>
        <div class="kanbanList" cdkDropList id="waiting" [cdkDropListConnectedTo]="connectedTo" [cdkDropListData]="waitingTasks" (cdkDropListDropped)="drop($event)">
            <div class="kanbanItem bg-waiting" *ngFor="let task of waitingTasks" cdkDrag>
                <div>
                    <h3>{{ task.martialArt }}</h3>
                    <h4>{{ task.coach }}</h4>
                </div>
                {{ task.description }}
            </div>
        </div>
    </div>

    <div class="kanbanRow">
        <h2>Treatment</h2>
        <div class="kanbanList" cdkDropList id="treatment" [cdkDropListConnectedTo]="connectedTo" [cdkDropListData]="treatmentTasks" (cdkDropListDropped)="drop($event)">
            <div class="kanbanItem bg-treat" *ngFor="let task of treatmentTasks" cdkDrag>
                <div>
                    <h3>{{ task.martialArt }}</h3>
                    <h4>{{ task.coach }}</h4>
                </div>
                <span>{{ task.description }}</span>
                
            </div>
        </div>
    </div>

    <div class="kanbanRow">
        <h2>Done</h2>
        <div class="kanbanList" cdkDropList id="done" [cdkDropListConnectedTo]="connectedTo" [cdkDropListData]="doneTasks" (cdkDropListDropped)="drop($event)">
            <div class="kanbanItem bg-done" *ngFor="let task of doneTasks" cdkDrag>
                <div>
                    <h3>{{ task.martialArt }}</h3>
                    <h4>{{ task.coach }}</h4>
                </div>
                {{ task.description }}
            </div>
        </div>
    </div>

    
</div>

<div class="kanbanRow delete">
    <h2>Lösch Eimer</h2>
    <div class="kanbanList delete-bin" cdkDropList id="delete-bin" (cdkDropListDropped)="deleteTask($event)">
        <p>Element hierhin ziehen, um es zu löschen</p>
    </div>
</div>

<button (click)="openDialog()" mat-fab class="btn-position" matTooltip="Add Task" matTooltipPosition="above">
    <mat-icon class="add-btn">add</mat-icon>
</button>
